# Ignore everything
*

# Whitelist dotfiles
!.Xresources
!.bash_aliases
!.bashrc
!.config/
!.config/compton.conf
!.fd-config
!.functions
!.gitignore
!.i3/
!.i3/config
!.i3/i3blocks.conf
!.setup.sh
!.texmf-config
!.vim/ftplugin/*
!.vimrc
